button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn {
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  @include fontSize(16);
  font-family: $font-secondary;
  font-weight: $font-weight-semi-bold;
  @include size(padding, 10px 30px);
  text-decoration: none;
  justify-content: center;
  text-align: center;
  line-height: 1.5;

  &.--primary {
    background: map-get($color-brand, 'deep-azure');
    color: map-get($color-brand, 'white');

    &:hover {
      background: map-get($color-brand, 'azure');
    }
  }

  &.--secondary {
    background: map-get($color-brand, 'white');
    color: map-get($color-brand, 'deep-azure');

    &:hover {
      color: map-get($color-brand, 'azure');

      &:after{
        transform: translateX(5px);
      }
    }
    &:focus {
      background: map-get($color-brand, 'azure');
      color: map-get($color-brand, 'white');

      &:after{
        transform: translateX(5px);
      }
    }

    &.--caret {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.6 14.4'%3E%3Cpath fill='" + encodeColor(
            map-get($color-brand, 'deep-azure')
          ) + "' d='M15.85,.29l5.5,6.22c.34,.38,.34,1,0,1.38l-5.5,6.22c-.34,.38-.88,.38-1.22,0-.34-.38-.34-1,0-1.38l4.02-4.55H0v-1.96H18.65L14.63,1.67c-.34-.38-.34-1,0-1.38,.34-.38,.88-.38,1.22,0Z'/%3E%3C/svg%3E");
      }

      &:hover {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.6 14.4'%3E%3Cpath fill='" + encodeColor(
              map-get($color-brand, 'azure')
            ) + "' d='M15.85,.29l5.5,6.22c.34,.38,.34,1,0,1.38l-5.5,6.22c-.34,.38-.88,.38-1.22,0-.34-.38-.34-1,0-1.38l4.02-4.55H0v-1.96H18.65L14.63,1.67c-.34-.38-.34-1,0-1.38,.34-.38,.88-.38,1.22,0Z'/%3E%3C/svg%3E");
        }
      }

      &:focus {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.6 14.4'%3E%3Cpath fill='" + encodeColor(
              map-get($color-brand, 'white')
            ) + "' d='M15.85,.29l5.5,6.22c.34,.38,.34,1,0,1.38l-5.5,6.22c-.34,.38-.88,.38-1.22,0-.34-.38-.34-1,0-1.38l4.02-4.55H0v-1.96H18.65L14.63,1.67c-.34-.38-.34-1,0-1.38,.34-.38,.88-.38,1.22,0Z'/%3E%3C/svg%3E");
        }
      }
    }
  }

  &.--tertiary {
    background: transparent;
    color: map-get($color-brand, 'deep-azure');
    padding: 0;
    position: relative;

    &:hover {
      color: map-get($color-brand, 'azure');
      &:after{
        transform: translateX(5px);
      }
    }

    &:before {
      background: map-get($color-brand, 'cobalt');
      border: none;
      @include size(bottom, 0px);
      content: "";
      display: block;
      left: 0;
      height: 1px;
      position: absolute;
      transition: width .3s ease-in-out;
      width: 0;
    }

    &:focus {
      border: none;
      outline: none;

      &:before {
        width: 100%;
      }
    }

    &.--caret {
      &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38.6 32.4'%3E%3Cpath fill='" + encodeColor(
            map-get($color-brand, 'deep-azure')
           ) + "' d='M15.85,.29l5.5,6.22c.34,.38,.34,1,0,1.38l-5.5,6.22c-.34,.38-.88,.38-1.22,0-.34-.38-.34-1,0-1.38l4.02-4.55H0v-1.96H18.65L14.63,1.67c-.34-.38-.34-1,0-1.38,.34-.38,.88-.38,1.22,0Z'/%3E%3C/svg%3E");
          @include size(height, 10px);
          @include size(margin-left, 10px);
        }
      &:hover {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38.6 32.4'%3E%3Cpath fill='" + encodeColor(
              map-get($color-brand, 'azure')
            ) + "' d='M15.85,.29l5.5,6.22c.34,.38,.34,1,0,1.38l-5.5,6.22c-.34,.38-.88,.38-1.22,0-.34-.38-.34-1,0-1.38l4.02-4.55H0v-1.96H18.65L14.63,1.67c-.34-.38-.34-1,0-1.38,.34-.38,.88-.38,1.22,0Z'/%3E%3C/svg%3E");
        }
      }
      &:hover {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38.6 32.4'%3E%3Cpath fill='" + encodeColor(
            map-get($color-brand, 'azure')
           ) + "' d='M15.85,.29l5.5,6.22c.34,.38,.34,1,0,1.38l-5.5,6.22c-.34,.38-.88,.38-1.22,0-.34-.38-.34-1,0-1.38l4.02-4.55H0v-1.96H18.65L14.63,1.67c-.34-.38-.34-1,0-1.38,.34-.38,.88-.38,1.22,0Z'/%3E%3C/svg%3E");
        }
      }

      &:focus {
        &:before {
          width: calc(100% - 33px);
        }
      }
    }

  }

  &.--outline {
    border: 1px solid map-get($color-brand, 'deep-azure');
    background: transparent;
    color: map-get($color-brand, 'deep-azure');

    &:hover {
      background: map-get($color-brand, 'azure');
      color: map-get($color-brand, 'white');
      border-color: map-get($color-brand, 'azure');
      &:after{
        transform: translateX(5px);
      }
    }

    &:focus {
      background: map-get($color-brand, 'cobalt');
      color: map-get($color-brand, 'white');
      outline: none;

      &:after{
        transform: translateX(5px);
      }
    }

    &:focus-visible{
      outline: none;
    }

    &.--caret {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.6 14.4'%3E%3Cpath fill='" + encodeColor(
            map-get($color-brand, 'deep-azure')
          ) + "' d='M15.85,.29l5.5,6.22c.34,.38,.34,1,0,1.38l-5.5,6.22c-.34,.38-.88,.38-1.22,0-.34-.38-.34-1,0-1.38l4.02-4.55H0v-1.96H18.65L14.63,1.67c-.34-.38-.34-1,0-1.38,.34-.38,.88-.38,1.22,0Z'/%3E%3C/svg%3E");
      }

      &:hover {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.6 14.4'%3E%3Cpath fill='" + encodeColor(
              map-get($color-brand, 'white')
            ) + "' d='M15.85,.29l5.5,6.22c.34,.38,.34,1,0,1.38l-5.5,6.22c-.34,.38-.88,.38-1.22,0-.34-.38-.34-1,0-1.38l4.02-4.55H0v-1.96H18.65L14.63,1.67c-.34-.38-.34-1,0-1.38,.34-.38,.88-.38,1.22,0Z'/%3E%3C/svg%3E");
        }
      }

      &:focus {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.6 14.4'%3E%3Cpath fill='" + encodeColor(
              map-get($color-brand, 'white')
            ) + "' d='M15.85,.29l5.5,6.22c.34,.38,.34,1,0,1.38l-5.5,6.22c-.34,.38-.88,.38-1.22,0-.34-.38-.34-1,0-1.38l4.02-4.55H0v-1.96H18.65L14.63,1.67c-.34-.38-.34-1,0-1.38,.34-.38,.88-.38,1.22,0Z'/%3E%3C/svg%3E");
        }
      }
    }

    &.--contrast {
      border: 1px solid map-get($color-brand, 'white');
      color: map-get($color-brand, 'white');

      &.--caret {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.6 14.4'%3E%3Cpath fill='" + encodeColor(
              map-get($color-brand, 'white')
            ) + "' d='M15.85,.29l5.5,6.22c.34,.38,.34,1,0,1.38l-5.5,6.22c-.34,.38-.88,.38-1.22,0-.34-.38-.34-1,0-1.38l4.02-4.55H0v-1.96H18.65L14.63,1.67c-.34-.38-.34-1,0-1.38,.34-.38,.88-.38,1.22,0Z'/%3E%3C/svg%3E");
        }
      }
    }

  }

  &.--caret {
    display: inline-flex;
    align-items: center;

    &:after {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.6 14.4'%3E%3Cpath fill='" + encodeColor(
            map-get($color-brand, 'white')
          ) + "' d='M15.85,.29l5.5,6.22c.34,.38,.34,1,0,1.38l-5.5,6.22c-.34,.38-.88,.38-1.22,0-.34-.38-.34-1,0-1.38l4.02-4.55H0v-1.96H18.65L14.63,1.67c-.34-.38-.34-1,0-1.38,.34-.38,.88-.38,1.22,0Z'/%3E%3C/svg%3E")
        no-repeat 0 0;
      background-size: cover;
      content: '';
      display: flex;
      flex-shrink: 0;
      @include size(height, 15px);
      @include size(margin-left, 15px);
      @include size(width, 23px);
      transition: transform .3s ease-in-out;

    }
  }

}

.button-group {
  display: flex;
  flex-wrap: wrap;
  @include size(margin, 20px -10px -10px -10px);

  .btn {
    @include size(margin, 10px);
  }
}