// z-index levels
$z-index-header: 1000;

// breakpoints
$breakpoints:(
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xlg: 1500px
);

// Grid gutter - (padding/margin) applied to rows & cols
$grid-gutter-spaced: 1.5;
$grid-gutter-ultra-spaced: 2;
$grid-gutter-reduced: .5;
$grid-gutter-ultra-reduced: .25;
$grid-gutter-modifier: 1.5;
$grid-gutter: 20px;

// Grid spacing
$grid-spacing:(
  ultra-reduced: .25,
  reduced: .5,
  base: 1,
  spaced: 1.5,
  ultra-spaced: 2
);
	
// spacing
$spacing:(
  xsm: 20px,
  sm: 30px,
  md: 40px,
  lg: 50px,
  xlg: 60px
);

// container spacing
$container-spacing:(
  ultra-reduced: .5,
  reduced: 1,
  base: 1.5,
  spaced: 2,
  ultra-spaced: 2.5
);

// layer spacing
$layer-spacing:(
  ultra-reduced: .5, 
  reduced: .75, 
  base: 1, 
  spaced: 2, 
  ultra-spaced: 2.5 
);

$content-max-width: 1400px; // max width of content (not including padding)
$wrapper-max-width: $content-max-width + (map-get($spacing, xlg) * 2); // max width of wrapper

// transition speed
$transition-speed: .25s;

// colors

$color-brand:(
  'deep-ruby': #b3000c,
  'red': #d5000e,
  'light-ruby': #ff574d,
  'deep-azure': #005ce6,
  'azure': #13a3f7,
  'light-azure': #61c5ff,
  'cobalt': #004AB9,
  'light-cyan-blue': #5F92DE,
  'turquoise': #00c2b4,
  'emerald': #2db329,
  'amber': #ffaa00,
  'amethyst': #a352cc,
  'dark-graphite': #26292c,
  'graphite': #666,
  'light-graphite': #f6f5f5,
  'black': #00111f,
  'night': #161D2D,
  'empathy': #A44141,
  'friendship': #257F7F,
  'positivity': #D07A3E,
  'growth': #38A568,
  'optimism': #D7A82B,
  'knowledge': #2F59BC,
  'inclusion': #814DC4,
  'trust': #138AA4,
  'white': #fff,
  'clarity-canvas': #f3f2ef,
  'clarity-midnight': #0A1226,
  'clarity-stormcloud': #d0d0d0,
  'clarity-overcast': #dfdfdf,
  'clarity-cloud': #f4f4f4,
  'clarity-mist': #fafafa
);

// fonts
$font-source-sans-pro: 'Source Sans Pro', 'Helvetica', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

// font assignments
$font-primary: $font-source-sans-pro;
$font-secondary: $font-montserrat;

// typography
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$base-background-color: #fff;
$base-font-color: #000;
$base-font-family: $font-primary;
$base-font-size: 16px;
$base-line-height: 1.5;

// heading
$heading-font-family: $font-secondary;
$heading-font-color: #000;